/* Main Styles */
.Navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
}

.logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #252525;
}

/* Slider */
.slider{
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}
.rc-slider-track{
    background-color: transparent !important;
}

.rc-slider-rail{
    height: 8px;
}

.rc-slider-handle,
.rc-slider-handle-dragging,
.rc-slider-handle-dragging:hover,
.rc-slider-handle-dragging:active,
.rc-slider-handle-dragging:focus
{
    background-color: #b630d4 !important;
    outline: none !important;
    border: 2px solid #b630d4 !important;
    box-shadow: none !important;
}